* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    font-size: medium;
}

.dont-have-an-account {
    font-weight: 500;
}

.register-now {
    font-weight: 600;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
}

.input-field label {
    margin-bottom: 5px;
    font-family: "Outfit", sans-serif;
    font-size: medium;
    font-weight: 600;
}

.input-field input {
    background-color: #181818;
    border: 2px solid;
    border-color: #292929;
    border-radius: 5px;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    color: #ffffff;
    width: 300px;
    transition: all 0.5s ease;
}

.input-field input:focus {
    border-color: #FFFFFF;
    transform: scale(1.03);
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    position: relative;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title h2 {
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    font-size: x-large;
    font-weight: 800;
    margin-top: 15px;
}

.title h4 {
    color: #ffffffe6;
    font-family: "Outfit", sans-serif;
    font-size: medium;
    font-weight: 600;
    margin-top: 15px;
}

.remember-me {
    color: #ffffffe6;
    font-family: "Outfit", sans-serif;
    font-size: medium;
    font-weight: 600;
    margin-top: 15px;
    margin: 0;
    margin-left: auto;
}

button {
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;
    height: 50px;
    font-family: "Outfit", sans-serif;
    width: 300px;
    border-color: transparent;
    border-radius: 100px;
    font-weight: 800;
    font-size: large;
    margin: 0 auto;
}